# vscode
.vscode

# system
/lost+found

# data
/data/*
!/data/homeassistant
!/data/appdaemon

# build
/docker-build/*
!/docker-build/homeassistant
!/docker-build/appdaemon-gammu

# portainer
/portainer/*
!/portainer/data
/portainer/data/*
!/portainer/data/compose
/portainer/data/compose/*
!/portainer/data/compose/9

# not relevant files & folders
/**/__pycache__
/**/*.log*
/**/tmp

# specific files & folders for HA
/data/homeassistant/.cloud
/data/homeassistant/.storage/*
!/data/homeassistant/.storage/lovelace
/data/homeassistant/.uuid
/data/homeassistant/home-assistant_v2.db
/data/homeassistant/secrets.yaml
/data/homeassistant/deps
/data/homeassistant/tts
/data/homeassistant/ip_bans.yaml
/data/homeassistant/www/img/*

# specific files & folders for AppDaemon
/data/appdaemon/data/logs
/data/appdaemon/data/secrets.yaml
# -- script to log once using 2FA 
/data/appdaemon/data/icloud.py

# /**/OZW_Log.txt
# /**/.google.token
# /**/icloud
# /**/known_devices.yaml
# /**/harmony_*.conf
# /**/plex.conf
#/**/google_calendars.yaml

# not all the secrets for scripts
/**/mqtt_config.sh
/**/alexa_config.sh
/**/backup_config.sh

