# vscode
.vscode

# system
/lost+found

# data
/data/*
!/data/homeassistant
!/data/appdaemon

# build
/docker-build/*
!/docker-build/homeassistant
!/docker-build/appdaemon
!/docker-build/nodered-gammu

# test
/docker-tests/*

# portainer
/portainer/*
!/portainer/compose
/portainer/compose/*
!/portainer/compose/9

# not relevant files & folders
/**/__pycache__
/**/*.log*
/**/tmp

# specific files & folders for HA
/data/homeassistant/.cloud
/data/homeassistant/.storage/*
!/data/homeassistant/.storage/lovelace
/data/homeassistant/.uuid
/data/homeassistant/home-assistant_v2.db
/data/homeassistant/secrets.yaml
/data/homeassistant/deps
/data/homeassistant/tts
/data/homeassistant/ip_bans.yaml
/data/homeassistant/www/img/*
/data/homeassistant/plex.conf
/data/homeassistant/google_calendars.yaml
/data/homeassistant/known_devices.yaml
/data/homeassistant/.google.token
/data/homeassistant/OZW_Log.txt
/data/homeassistant/pyozw.sqlite
/data/homeassistant/custom_components
/data/homeassistant/alexa_*
/data/homeassistant/www/**/*.gz
/data/homeassistant/www/**/secrets.js
/data/homeassistant/www/deepstack/

# not all the secrets for scripts
/**/mqtt_config.sh
/**/alexa_config.sh
/**/backup_config.sh

